<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>

<script type="text/javascript">
    $(function() {
        var conn = $.hubConnection();
        var hub = conn.createHubProxy('TokenHub');
        hub.on('registerSuccess', function (data) {
            $('._jsStatus').html(JSON.parse(data).Msg);
        });

        hub.on('receiveSuccessfullTransaction',
            function(data) {
                $('._jsTransactions').append('<button type="button" class="btn btn-success">' + data + '</button>');
            });

        hub.on('RETURNDEBUGDETAILS', function (eventId, standId, deviceId) {
            $('._jsEventId').val(eventId);
            $('._jsStandId').val(standId);
            $('._jsDeviceId').val(deviceId);
        });

        //eventId, standId, deviceId.
        conn.start(function() {
            $('._jsStatus').html("Websocket connection established, please register device...");

            hub.invoke('GETDEBUGDETAILS');
        });

        $('._jsConnect').on('click',
            function(evt) {
                //hub.invoke("RegisterEventDevice", "f43c8b28-dba2-45f8-b82e-a20e68ecd9a8", "13BE2FB0-9B4B-E711-9BEF-001C4287BE30", "deviceId");
                hub.invoke("RegisterEventDevice", $('._jsEventId').val(), $('._jsStandId').val(), $('._jsDeviceId').val());
            });


    });
</script>
</body>
</html>
